.tables{
    display: grid;
    width: 50%;
    height: 50%;
    border: 1px solid #ccc;
    padding: 10px;
}
td{
    border: 1px solid black;
}
.dimenciones{
    display: flex;
    margin-top: 1vw;
    margin-bottom: 1vw;
    height: 2vw;
    font-size: 2vw;
    align-items: center;
}